body{
    width: 100%;
    }
    

    /* Header Image Start */
#header{
display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(255, 255, 255);
box-shadow: 0px 10px 15px rgba(0,0, 0, 0.19);
border-radius: 10px;
}
#header img{
    width: 100px;
    margin-left: 10px;
    border-bottom: 3px solid black;
    border-radius: 10px;
    transition: 2s ease;
}

#header img:hover{
    transform: rotate(360deg);
}

#header h2{
    margin-left: -20px;
}
.title{
    display: flex;
}
.title-2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
    .title-2 h1{
        
        font-size: 40px;
        font-weight: 300;
        margin-top: 100px;

    }
    
.title h1{
    padding: 10px 20px;
    font-size: 40px;
}

/* Color Section  */
.g-online {
    color: green;
}

.g-now{
    color: black;
}
.r-shop{
    color: red;
}

/* End of Image Design */


/* navbar design start */
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
#navbar li{
    list-style: none;
    padding: 30px;
    font-size: 27px;
    font-weight: 600;
}
#navbar li a{
    text-decoration: none;
    color:  #663300;
}
#navbar li a:hover,
#navbar li a:active{
    color: #b80a00;
}

/* Navbar End */


/* Icon Design Start */

.icon{
    border-bottom: 3px solid rgb(5, 110, 23);
    border-radius: 30px;
    transition: 1s ease;
}
.icon1{
    border-bottom: 3px solid red;
    border-radius: 30px;
}
.icon:hover{
    transform: rotate(360deg);
}

/* Icon design End */

/* Section 2 Start */

.images{
    margin-top: 100px;
    
}
.images h1{
font-size: 70px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 110px;
line-height: 60px;
}

.images p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    margin-left: 110px;
    line-height: 30px;
    border-left: 5px solid #b80a00;
    border-radius: 30px;
    padding: 10px;
}

.images a{
    margin-left: 80px;
    background-color: rgba(252, 144, 21, 0.959);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(20, 18, 18);
    width: 70px;
    padding: 10px;
    
}
.button{
   margin-left: 50px;
   background-color: orange;
}
button{
    background-color: orange;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}

.button:hover{
    box-shadow: 0px 10px 15px rgba(247, 57, 10, 0.19);
}
.images{
    width: 50%;
}
.images img{
    width: 60%;
    margin-left: 200px;
    border-top: 3px solid orangered;
    border-radius: 50%;
}

.images h1{
    margin-left: 70px;
}
.images p{
    margin-left: 70px;
    margin-top: 30px;
    font-size: 20px;
    border-bottom: 3px solid orangered;
}

li{
    font-size: 20px;
}
section{
    display: flex;
}


#header2{
display: flex;
justify-content: center;
align-items: center;
width: 80%;
height: 100px;
margin-left: 200px;
margin-right: 200px;
margin-top: 180px;
justify-content: space-between;
background-color: rgb(255, 255, 255);
box-shadow: 0px 10px 15px rgba(0,0, 0, 0.19);
border-radius: 10px;
}
#header-s{
    margin-left: 40px;
}

.svgimg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}
.svgimg {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    grid-column-gap: 50px;
    margin-left: 50px;
}

.svgimg .icons{
    margin-left: 100%;
    border-bottom: 3px solid rgb(188, 253, 199);
    border-radius: 30px;  
}


.img-5{
    margin-top: 13px;
}


/* CollectionBar*/


 .third-section {
       align-items: center;
       box-shadow: 0px 10px 15px rgba(228, 138, 138, 0.19);
       border-radius: 10px;
       
      
    
 }

.third-section img{
border-radius: 20px;

 }
.third-section p, h2{
    margin: 10px;
}

.collectionbar{
    border: 2px solid red;
    border-radius: 20px;
 }

 .products{
     text-align: center;
 }

 .products .third-section{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-row-gap: 30px;
     margin-left: 300px;
     
     
 }

 .products .collectionbar{
     width: 25%;
     min-width: 300px;
     padding: 10px 12px;
     border: 1px solid #663300;
     box-shadow: 20px 20px 30px rgba(14, 13, 13, 0.22);
     position: relative;
     transition: 0.5s ease;
 }

 .products .collectionbar:hover{
    box-shadow: 20px 20px 30px rgba(255, 112, 112, 0.52);
 }

 .products .collectionbar .des{
     text-align: start;
     padding: 10px 0;
 }
 .products .collectionbar .des i{
     color: yellow;
 }
 .products .collectionbar .des .p{
     font-size: 30px;
     font-weight: 700;
 }

 .products .collectionbar img{
     width: 100%;
     border-radius: 20px;
 }

 .products .collectionbar h3{
     font-size: 19px;
     margin-left: 10PX;
 }
 .products .third-section h2{
    font-size: 19px;
    margin-left: 10PX;
 }
 .products .third-section .collectionbar{
     text-align: start;
 }
 .products .third-section .collectionbar i{
    color: yellow;
 }
 .products .third-section .collectionbar .p2{
    font-size: 30px;
    font-weight: 700;
 }

 /* New Section */

 #signup{
     display: flex;
     justify-content:first baseline;
     margin-left: 220px;
     margin-top: 40px;
     background-color: rgba(206, 231, 255, 0.52);
     width: auto;
     height: auto;
     border-radius: 30px;
     box-shadow: 30px 30px 40px rgba(184, 184, 184, 0.52);
     padding: 10px;
 }
 .header h1{
     font-size: 40px;
     margin-left: 30px;
 }

 /* SignUp */

 .process{
     margin: 20px;
     padding: 20px;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .apps{
    display: flex;
align-items: center;
justify-content: space-between;
background-color: rgb(255, 255, 255);
box-shadow: 0px 10px 15px rgba(0,0, 0, 0.19);
border-radius: 10px;
 }
 .app-images{
    margin-left: 110px;
    margin-top: 400px;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: rgb(20, 18, 18);
    width: 40px;
    padding: 10px;
 }
 .app-image img{
     width: 50%;
 }

 .button{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 12px;
     border-radius: 20px;
     background-color: orangered;
     transition: 0.2s ease;
 }
 .button:hover{
    box-shadow: 10px 10px 35px rgba(0,0, 0, 0.59);
 }
.fab{
    font-size: 30px;
    margin-top: -10px;
    margin-left: 12px;
}
#header-e{
    width: 80%;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-top: 100px;
    border: 3px solid orangered;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 15px rgba(0,0, 0, 0.59);
    border-radius: 20px;
 }

 #header-e img{
     margin-top: 100px;
     margin-left: 100px;
     width: 60%;
 }

 .info-e{
    width: 50%;
 }
 .detail-e h1{
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 110px;
    line-height: 60px;
    margin-left: -100px;
 }

 #header-e .detail-e p{
    font-size: 20px;;
    width: 60%;
    margin-left: -100px;
    border-left: 5px solid #b80a00;
    border-radius: 30px;
    padding: 10px;
 }

 .detail-e button{
     display: flex;
     padding: 10px;
     background-color: orange;
     border-radius: 10px;
 }

 .detail-e li{
     margin-top: -4px;
 }


    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 5px;
        height: 300px;
        color: white;
        text-align: center;
    }
   
    

 
    .s-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .fa-twitter{
        margin-top: 20px;
    }
    .fa-facebook{
        margin-top: 20px;
    }
    .fa-instagram{
        margin-top: 20px;
    }
    body{
       background-color: rgb(252, 252, 252);
    }
    
    .endline{
        padding: 10px;
        display: flex;
        margin-left: -100px;
        text-align: center;
    }
    .endline .btn{
        margin-left: 70px;
        background-color: greenyellow;
        text-align: center;
    }
    .endline .btn1{
        background-color: orangered;
    }
 

 